{% extends 'base.html.twig' %}


{% block body %}
    <h1>Liste des utilisateurs</h1>

    <div class="row mb-3">
			<div class="col-6 col-md-4 themed-grid-col">FirstName</div>
			<div class="col-6 col-md-4 themed-grid-col">LastName</div>
			<div class="col-6 col-md-4 themed-grid-col">Actions</div>
		</div>


    {% for user in users %}
        <div class="row mb-3">
			<div class="col-6 col-md-4 themed-grid-col">{{user.firstName | capitalize}}</div>
			<div class="col-6 col-md-4 themed-grid-col">{{category.lastName| capitalize}}</div>
			<div class="col-6 col-md-4 themed-grid-col">
				<a href="">
					<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
				</a>
				<a href="">
					<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
				</a>
				<a href="">
					<button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
				</a>
			</div>
		</div>


    {% endfor %}
   
{% endblock %}
